<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sage eShop</title>
    <link rel="stylesheet" href="../static/css/main_styles.css">
    <script src="../static/js/AJAXrequest.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="wrapper clearfix">
            <div class="clearfix" id="top">
                <h1 class="fl"><a href="index.html"><img src="../static/img/Sage_logo.png" /></a></h1>
                <div class="fr clearfix" id="top1">
                    <p class="fl" id="guest">
                        <a href="login.html" id="login">Sign in</a>
                        <a href="register.html" id="reg">Sign up</a>
                    </p>
                    <p class="fl" id="user">
                        <a href="" id="username">username</a>
                        <a href="" id="logout">Sign out</a>
                    </p>
                    <form action="#" method="get" class="fl">
                        <input type="text" placeholder="Search" />
                        <input type="button" />
                    </form>
                    <div class="btn fl clearfix">
                        <a href="order.html"><img src="../static/img/user.png" /></a>
                        <a href="cart.html"><img src="../static/img/shopping-cart.png" /></a>
                    </div>
                </div>
            </div>
            <ul class="clearfix" id="bott">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="">Accessories</a></li>
                <li><a href="">Offers</a></li>
                <li><a href="">Favorites</a></li>
                <li><a href="order.html">Account</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>

    <!-- Banner -->
    <div class="banner">
        <img src="../static/img/banner.jpg" alt="banner">
    </div>

    <!-- Goods display list -->
    <div>
        <section class="wrapper">
            <div class="productList">
                <a href="" class="product">
                    <dl>
                        <dt><img src="../static/img/products/product1.jpg"></dt>
                        <dd>A flower whose name I have no idea about </dd>
                        <dd>$19.9</dd>
                    </dl>
                </a>
                <a href="" class="product">
                    <dl>
                        <dt><img src="../static/img/products/product2.jpg"></dt>
                        <dd> A flower whose name I have no idea about</dd>
                        <dd>$19.9</dd>
                    </dl>
                </a>
                <a href="" class="product">
                    <dl>
                        <dt><img src="../static/img/products/product3.jpg"></dt>
                        <dd> A flower whose name I have no idea about</dd>
                        <dd>$19.9</dd>
                    </dl>
                </a>
                <a href="" class="product">
                    <dl>
                        <dt><img src="../static/img/products/product4.jpg"></dt>
                        <dd> A flower whose name I have no idea about</dd>
                        <dd>$19.9</dd>
                    </dl>
                </a>
                <a href="" class="product">
                    <dl>
                        <dt><img src="../static/img/products/product5.jpg"></dt>
                        <dd> A flower whose name I have no idea about</dd>
                        <dd>$19.9</dd>
                    </dl>
                </a>
                <a href="" class="product">
                    <dl>
                        <dt><img src="../static/img/products/product6.jpg"></dt>
                        <dd> A flower whose name I have no idea about</dd>
                        <dd>$19.9</dd>
                    </dl>
                </a>
            </div>
        </section>
    </div>

    <!-- footer -->
    <div class="footer">
        <p>Zhaoyi SONG &copy; 2020 All Rights Reserved.<br/> School of Software Engineering, Tongji University, Shanghai.</p>
    </div>
</body>
</html>